
.signBackground {
  background-color: #333333;
  margin-top: 0;
  margin-bottom: -20px;
  border: 0;
  margin-left:-20px;
  margin-right:-20px;
}

.goalsList {
  margin-top: 20px;
  width: 85%;
  color: #333333;
  border-top: solid;
  border-width: thin;
  border-color: #5E5E5E
}

.goals-input, .goalsList{
  font-family: 'Playfair Display', serif;
}
.fetchedButton {
  background-color: #8B575C;
  color: white;
  margin: 4px;
}

#signinJumbo {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Cinzel', serif;
  font-size: 60px;
  color: #FCFAF9;
  height: 220px;
  background-color: #8B575C;
  text-align: center;
}

#signupJumbo {
  background-image: url("http://cos.h-cdn.co/assets/16/23/1600x1064/gallery-1465569666-2926de0760061e3ba92b7439036afb3250fe48af5bea3e1f6e3009190a583c61a7988523c888169590ffe355fdb0e98d.jpg");
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Cinzel', serif;
  height: 500px;
  color: #5E5E5E;
  width: auto;
  font-weight: bold;
  text-shadow: 1px 1px 2px #F3D3BD, 0 0 25px #F3D3BD, 0 0 5px #F3D3BD;
}

.signinEmpty {
  margin-bottom: 40px;
}

.signLink{
  color:#FCFAF9;
}

.signinform {
  margin: 0 auto;
  background-color: #5E5E5E;
  text-align: center;
  width: 500px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 6px;
  font-family: 'Cinzel', serif;
  color: #FCFAF9;
  font-size: 30px;
}

.signupForm {
  margin: 0 auto;
  background-color: #5E5E5E;
  text-align: center;
  width: 500px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 6px;
  font-family: 'Cinzel', serif;
  color: #FCFAF9;
  font-size: 30px;
}

.authinput {
  outline: none;
  color: #8B575C;
  text-align: center;
}

#signupSign {
  font-size: 45px;
}

.signButton {
  color: #FCFAF9;
  background-color: #8B575C;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  outline: none;
}

.dashboardjumbo {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background: #000 url("https://brobible.files.wordpress.com/2016/06/septa-unella.jpg?quality=90&w=550") ;
  background-size: cover;
  width: 550px;
  height: 366px;
  color: #F3D3BD
}


.userdash-header {
  text-align: center;
  font-size: 75px;
  font-family: 'Cinzel', serif;
  background: transparent;
  color: white;
}

nav {
  float: right;
  text-align: right;

}

.nav-component {
  display: inline;
  background-color: white;
  text-align: right
}

.authPadding{
  padding-bottom: 15px;
}

.signup {
  margin: 0 auto;
  text-align: center;
}

.friendlist {
  margin: 0 auto;
  text-align: center;
}


.signinError {
  color: #8C2530;
  font-family: 'Cinzel', serif;
}

.friendTitle {
  font-size: 35px;
  color: #333333;
}

.fetchedGoalDescription, .fetchedGoalDeadline, .fetchedButton {
  display: inline-block;
  height: 30px;
  /*float:left;*/
}

.fetchedButton{
  float:right;
}

.right {
  float:right;
}

.bold {
  font-weight: bold;
}