*:focus {
    outline: none;
}

.signinpage{
  background-image: url('../assets/womanMeditate.jpg');
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  position: fixed;
}

.outersignIn {
  font-family: 'Comfortaa', sans-serif;
}

.outersignIn h1 {
  font-size: 95px;
  color: #EA7317;
  margin-left: 50px;
  margin-right: auto;
}

#honorsWrapper h2{
  font-size: 55px;
  margin-left: 107px;
  margin-right: auto;
  position: relative;
  bottom: 25px;
  color: #71BCE8;
}

.signupWrapper {
  position: relative;
  font-size: 25px;
  margin: 0 auto;
  color: #71BCE8;
  font-family: 'Comfortaa', sans-serif;
}

.signLink:hover {
  text-decoration: none;
  color: #EA7317;
  font-family: 'Comfortaa', sans-serif;
}

.signinform {
  border-color: #71BCE8;
  border-style: solid;
  border-radius: 25px;
  border-width: thick;
  width: 400px;
  height: 450px;
  margin-left: 107px;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  background-color: rgba(189,228,167,0.3);
}

.signinform h3 {
  margin-top: 60px;
  margin-bottom: auto;
  color: #2F6690;
  font-family: 'Oxygen', sans-serif;
}

.signinform input {
  font-family: 'Comfortaa', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #2F6690;
  border-width: 4px;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  color: #EA7317;
}

.signinlogo {
  position: relative;
  top: 30px;
  color: #EA7317;
}


.authinput:hover {
  width: 300px;
}

.signButton {
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: #EA7317;
}

.signButton:hover{
  font-weight: bold;
}

.signin {
  display: inline-block;
  margin: 0 auto;
}

.signinError{
  color: #A30000;
  font-size: 50px;
}

.signupBackground{
  background-image: url('../assets/dadWithDaughter.jpg');
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  position: fixed;
  font-family: 'Comfortaa', sans-serif;
}

.centersignUp {
  position: relative;
  display: inline-block;
}
