<div class="container">
  <div class="nav>"
    <h6>You are signed in as <span class="bold"> {{ctrl.goal.username}} </span></h6>
    <button ng-click="ctrl.signOut()" class="btn btn-info right" ="button">Sign Out</button>
  </div>
    <div class="jumbotron dashboardjumbo">
     <h1 class="userdash-header">Septa Unella's Honor Program</h1>
   </div>
     <div></div>
       <form class="goals-input" >
         <input id ="description" required type="text" ng-model="ctrl.goal.description" value="" placeholder="My goal is to...">
         <input id="deadline" required type="datetime-local" ng-model="ctrl.goal.deadline" value="">
         <input type="submit" class="btn btn-info" name="name" value="Submit" ng-click="ctrl.addGoal()">
       </form>
       <div class="goalsList" ng-repeat="goal in ctrl.storedGoals" ng-if="!goal.hasCompleted && !goal.hasExpired">
         <div class="fetchedGoalDescription">{{goal.description}}</div>
         <div class="fetchedGoalDeadline">{{goal.deadline}}</div>
         <button class="fetchedButton btn btn-info" type="button" name="button" ng-click="ctrl.goalCompletion(goal.id)">Verify Goal Completion</button>
       </div>
  </div>