<div class = "container-fluid signupBackground">

  <!-- <div class="row jumbotron" id= "signupJumbo">
    <div class="col-md-12">

      <h3> Prepare to be punished</h3>
    </div>
  </div> -->

 <!-- this is the code for user signup -->
 <!-- <div class='row'> -->

 <div class= "outersignIn">
     <div class="signInTitle">
       <h1>Septa-Unella</h1>
       <div id="honorsWrapper">
       <h2>Honors Program</h2>
       </div>
     </div>

   <div class = "signinform centersignUp" ng-hide='ctrl.showFriendForm'>
     <form name="signupForm" >
       <div class="signinlogo fa fa-bell fa-3x"></div>
       <h3>Join the Greater Good</h3>
       <br>
       <div class='signUpPadding'>
         <p ng-show="ctrl.usernameTaken">
           Try a new Username
         </p>
         <input class = "authinput" placeholder="What's your name?" required type='text' ng-model='ctrl.user.username'>
       </div>
       <p ng-show='ctrl.errorMsg.length > 3' class="signinError">{{ctrl.errorMsg}}</p>
       <div class='signUpPadding'>
         <input class = "authinput" required type='email' ng-model='ctrl.user.email' placeholder="what's your email?">
       </div>
       <div class='signUpPadding'>
         <input class = "authinput" required type='password' ng-model='ctrl.user.password' placeholder="Create a password:">
       </div>
       <br>
       <button class="signButton" ng-click='ctrl.signup()'>Join</button>
       <br>
       <a class= "signLink" href="#/signin">Already a member? <strong>Signin</strong></a>
     </form>
   </div>


 </div>

<!-- This is the code for adding friends -->

 <div ng-show='ctrl.showFriendForm'>

   <div class='friendlist col-md-6'>

     <form class ="signupForm" ng-submit='ctrl.addFriend()'>
       <h3 class="friendTitle">Add a Judger</h3>
       <p>Enter email:</p>
       <div id='friendEmail'>
         <input class= "authinput" type="email" placeholder="email" ng-model='ctrl.user.friendEmail'>
       </div>
       <br>
       <input type="submit" class="signButton" value="Add a friend">
     </form>
   </div>

   <div class='signupForm friendlist'>
     <h3 class="friendTitle">List of Judges</h3>
     <div ng-repeat="friend in ctrl.user.emails">
       <p>
         {{friend}}
       </p>
     </div>
     <br>
     <button class="signButton" ng-click="ctrl.storeFriendEmailList()">Confirm List of Judges</button>

 </div>

</div>
